@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    background-color: #343a40;

    color: white;
    font-family: 'Nunito';

    scroll-behavior: smooth;
}

body,
h1,
h2,
p,
img,
div,
span,ul {
    margin: 0;
    background: none;
}

header {
    position: sticky;
    top: 0;
    background: none;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    background: none;
}

.navbar,.nav-menu,.nav-item{
    background: none;
}

.navbar{
    font-size: 25px;
    backdrop-filter: blur(5px);
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 130px;
    padding: 30px 50px;
    align-items: center;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-
}


.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100svh;
}

@media(max-width: 1040px) {
    .intro {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 10%;
    }

}

.intro img {
    width: 45%;
    border-radius: 50%;
}

.intro-one {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 30px;
    margin: 30px;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    transition: transform 1s ease;
}

.small-intro {
    text-align: center;
}

.intro-one span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.intro-one button {
    width: 200px;
    height: 80px;
    font-size: 1.75rem;
    background: linear-gradient(to right, #AD41B7, #D82F2F);
    font-family: sans-serif;
    font-weight: 800;
    border-radius: 60px;
    cursor: pointer;
    transition: transform 1s ease;
}

.button {
    text-decoration: none;
    background: none;
}

.line {
    border: 1px solid white;
    margin-bottom: 10px;
}

.about-sec {
    font-size: 30px;
}

.about-sec p {
    margin: 3%;
    text-indent: 80px;
}

.headings {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 3%;
    background: linear-gradient(to bottom, #57059e, #4a00e0);
    margin: 3%;
    border-radius: 10px;
}


@media(max-width: 820px){

    .hamburger-background{
        display: block;
    }
    
    .hamburger{
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;    
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        background-color: #343a40;
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}

@media(max-width: 768px) {

    .logos{
        justify-content: center;
    }

    .intro img {
        width: 55%;
        border-radius: 50%;
        margin-top: 20px;
    }

    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    width: 130px;
    height: 100px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 22, 0.9);
}

.card img{
    width: 64px;
    height: 64px;
}

.card h2{
    text-align: center;
}

@media(max-width: 435px) {

    .card img{
        width: 56px;
        height: 56px;
    }

    .card{
        width: 100px;
        height: 100px;
    }
    
}

.total {
    margin: 3%;
    background: linear-gradient(to bottom, #57059e, #4a00e0);
    padding: 2%;
    border-radius: 50px;
}

.name {
    font-size: 32px;
    font-weight: bold;
    margin: 20px 20px;
}

.branch,
.time {
    margin: 0 30px;
    font-size: 20px;
}

.contact-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-content {
    font-size: 32px;
    font-weight: bold;
    margin: 2%;
}

.contact-logos {
    display: flex;
    gap: 3rem;
}

.contact-flex span {
    font-size: 25px;
    margin: 2%;
}

@media(max-width: 600px) {
    .contact-content {
        font-size: 24px;
        margin: 15px;
    }

    .contact-flex span {
        font-size: 18px;
        margin: 15px;
    }
}
